.vertical h2, a#title {
  /*all:inherit;*/
  color: #FAFAFA;
  text-decoration:none;
}
.site-head {
  height: 111px;
}

.blog-logo img{
  float:left;
  max-height:80px;
  max-width: 67px;
}

.blog-description {
  float:right;
  margin: 2px;
}

.comments-area{
  display:none;
}

.border{
  margin: 10px;
  border-radius: 4px;
  border: solid;
}
.row{
  text-align:center;
  border-spacing:10px;
  display:table;
}
.row .centerd-boxed-text{
  width:30%;
  vertical-align:top;
  display:table-cell;
}
.left{
  float:left;
  background-color:#FFF;
  width:48%;
  border: solid;
  border-width: 2px;
  border-radius: 4px;
  margin-bottom:10px;
}
.right {
  float:right;
  background-color:#FFF;
  width:48%;
  border: solid;
  border-width: 2px;
  border-radius: 4px;
  text-align: center;
  margin-bottom:10px;
}
.post-content{
  font-size: 0.8em;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.abody#pictures{
  height:inherit;
}

.donate-button#online{
  font-size:1em;
  font-weight:100;
}
.abody .donate-button:hover{
  background-color:#FF0101;
}
.donation-button a{
  font-size: 2em;
  font-weight: 200;
  height:50px;
  border-width: 3px;
  border-radius: 0px;
  background-color:#FF2400;
  color: #030303;
  border-color:#030303;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  max-width:250px;
  padding: 4px;
  border:solid 2px;
  text-decoration:none;
  transition: border-radius 0.5s;
}
.donation-button a:hover{
  border-radius:15px;
}

@media screen and (max-width:920px) {  .donation-button a {font-size:1.5em}}
@media screen and (max-width:700px) {  .donation-button a {font-size:1.3em}}
@media screen and (max-width:600px) {  .donation-button a {font-size:1em}}
@media screen and (max-width:400px) {  .donation-button a {font-size:0.9em}}

.donation-amounts br{
  display:inherit;
}
/*.left br{
  display:none;
}*/
.vertical-center br{
  display:inherit;
}
.vertical-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.margins-twenty{
  margin-left:20px;
  margin-right:20px;
}
a{
  color:#FF2400;
}
a:hover{
  color:#030303
}
.post{
  max-width:3200px;
}
.post-template .site-head,
.home-template .site-head{
  background-image:url("/vikings/images/lj_hexes.svg") !important;
  background-size: auto 100% !important;
  -webkit-animation: slide 3600s linear infinite !important;
  -mos-animation: slide 3600s linear infinite !important;
  animation: slide 3600s linear infinite !important;
}
.home-template .site-head{
  background-repeat: repeat-x;
}

@-webkit-keyframes slide {
  from {
    background-position: left 0% top;
  }

  to {
    background-position: left 18000% top;
  }
}
@keyframes slide {
  from {
    background-position: left 0% top;
  }

  to {
    background-position: left 18000% top;
  }
}

@-mos-keyframes slide {
  from {
    background-position: left 0% top;
  }

  to {
    background-position: left 18000% top;
  }
}

body{
  font-family: Helvetica, Arial, sans-serif !important;
}
.post-template .site-head:after{
  display:none;
}
.site-head{
  margin-bottom:0;
}
.button-bar{
  text-align:left;
  margin-top:0;
  width: 100%;
  height: 30px;
  margin-bottom:3rem;
}
.left-nav-button{
  max-width:120px;
  height:30px;
  font-size: 1em;
  font-weight: 200;
  color: #222;
  border:none;
  border-color:#030303;
  border-right:solid;
  border-width:1px;
  padding: 0;
  width:20%;
  text-align:center;
  text-decoration:none;
  float:left;
}

.left-nav-button#last{
  border:none;
}
.right-nav-button{
  float:right;
  max-width:120px;
  height:30px;
  font-size: 1em;
  font-weight: 200;
  color: #222;
  border:none;
  padding: 0;
  width:19%;
  text-align:center;
  text-decoration:none;
}

@media screen and (max-width:500px) {  .left-nav-button, .right-nav-button {font-size: 0.9em;}}
@media screen and (max-width:430px) {  .left-nav-button, .right-nav-button {font-size: 0.8em;}}
@media screen and (max-width:380px) {  .left-nav-button, .right-nav-button {font-size: 0.7em;}}
@media screen and (max-width:345px) {  .left-nav-button, .right-nav-button {font-size: 0.6em;}}
@media screen and (max-width:315px) {  .left-nav-button, .right-nav-button {width:19%; font-size: 0.55em}}

.donation-amounts{
  width:100%;
  margin-left:auto;
  margin-right:auto;
  color:#222
}
.donation-amount{
  border:solid 1px;
  border-right:none;
  height:300px;
  width:13.9%;
  float:left;
  text-align:center;
  transition:width 0.5s;
  overflow:hidden;
  color:#222;
}
.donation-amount#donation-one{
  border-radius: 4px 0px 0px 4px;
}
.donation-amount#donation-seven{
  border:solid 1px;
  border-radius: 0px 4px 4px 0px;
}

@media screen and (max-width:450px) {  .donation-amount {font-size:0.8em}}
@media screen and (max-width:400px) {  .donation-amount {font-size:0.75em}}

.past-sponsors{
  width:100%;
  text-align:center;
  overflow:auto;
}
.sponsor-row{
  width:100%;
  overflow:hidden;
}
.sponsor{
  width:40%;
  height:160px;
}
.sponsor#left{
  float:left;
}
.sponsor#right{
  float:right;
}
.sponsor img{
  max-height:150px;
}
.width-all-and-float{
  float:right;
  width:100%;
}
.centerd-boxed-text{
  border:solid 2px;
  border-radius:4px;
  max-width:700px;
  margin-left:auto;
  margin-right:auto;
  padding:5px;
}
#people{
  display:none;
}
.person-row{
  width:100%;
  display:table;
  border-spacing:10px;
}
.picture-frame{
  width:20%;
  display:table-cell;
  float:left;
  border: solid 2px;
  margin-left:2.2%;
  margin-right:2.2%;
  border-radius:4px;
  font-size:1em;
  background-color:#FFF;
}
.picture-title-text{
  font-size:1em;
  text-align:center;
}
.picture-frame img{
  height:250px;
  clear:left;
}
.frame-bio{
  width:96%;
  border-top:solid 1px;
  text-indent:15px;
  font-size:0.8em;
  font-weight:600;
  padding-left: 2%;
  padding-right:2%;
  line-height:150%;
}
.picture-title, .picture-title-leader{
  margin-left:10%;
  margin-right:auto;
  margin-bottom:3px;
  width:70%;
  font-size:0.8em;
  padding-left:2px;
  padding-right:2px;
  border-left:solid 2px;
  border-right: solid 2px;
  border-bottom: solid 2px;
  border-radius: 0 0 10px 10px;
  font-weight:600;
  line-height:130%;
  float:left;
}
.picture-title-leader{
  background-color:rgba(255,36,0,0.7)
}
.item{
  float:left;
  width:30%;
  border:solid 1px;
  border-radius:4px;
  padding: 3px;
  margin-left:1%;
  margin-right:1%;
}
.item img{
  height:100px;
}
.item-text{
  border-top: solid 1px;
  border-bottom: solid 1px;
  text-indent:20px;
  line-height:150%;
  height:140px;
}
.item .cost{
  text-align:center;
}
.large-items{
  height: 200px;
}
.item-name{
  text-align:center;
  font-weight:900;
}
.background-v{
  position:absolute;
  top:130px;
  bottom:0;
  left:0;
  right:0;
  background-color:red;
  z-index:-3;
}
.robot-selector-parent br{
  display:none;
}
.robot-viewer{
  height:600px;
  width:100%;
  border: solid 2px #030303;
  border-radius:4px;
  background-color:#030303;
  text-align:center;
  color:#FF2400;
  font-size:3.2em;
  line-height:200%;
}
.robot-modle-selector-lable{
  float:right;
  margin-right:4px;
}
.robot-modle-selector{
  float:right;
}
.robot-selector-parent{
  height:40px;
}
.fine-print{
  text-align:center;
  font-size:0.7em;
}
#left-align{
  text-align:left;
}
.row-of-left-and-right{
  widht:100%;
  overflow:auto;
}
.picture-grade{
  margin-left:auto;
  margin-right:auto;
  margin-bottom:3px;
  width:12%;
  font-size:0.8em;
  padding-left:2px;
  padding-right:2px;
  border-left:solid 2px;
  border-bottom: solid 2px;
  border-radius: 0 0 0 10px;
  font-weight:600;
  line-height:100%;
  float:right;
  text-align:center;
}
.picture-grade-th{
  vertical-align:super;
  font-size:75%;
}

article.post .post-author {
  text-align:right;
  font-size:0.9em;
  line-height:0.9em;
}

article.post .date {
  text-align:right;
  font-size:0.7em;
}

article.post .updated {
  text-align:right;
  font-size:0.65em;
  color:#888;
}

.calendar-wraper{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:800px;
  height:600px;
  padding-bottom:30px;
}

.calendar{
  width:800px;
  height:600px;
}

@media screen and (min-width:1400px) {  .calendar, .calendar-wraper {width:1200px}}
@media screen and (min-width:1200px) {  .calendar, .calendar-wraper {width:1000px}}
@media screen and (max-width:1000px) {  .calendar, .calendar-wraper {width:600px}}
@media screen and (max-width:750px) {  .calendar, .calendar-wraper {width:450px}}
@media screen and (max-width:600px) {  .calendar, .calendar-wraper {width:300px; height:400px}}
@media screen and (max-width:500px) {  .calendar, .calendar-wraper {width:200px; height: 300px}}
